@tailwind base;
@tailwind components;
@tailwind utilities;

.contenido h1 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
  
}

.contenido h2 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  background: linear-gradient(80deg, rgb(216, 216, 6), rgb(0, 0, 152), rgb(255, 0, 0));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.contenido h3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contenido p {
  margin-bottom: 1rem;
}

.contenido img {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  max-width: 80%;
  height: auto;
  image-rendering: auto;
  border-radius: 5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.cards h2 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  background: linear-gradient(80deg, rgb(216, 216, 6), rgb(0, 0, 152), rgb(255, 0, 0));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.editor h2 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  background: black;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.editor h3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.editor p {
  margin-bottom: 1rem;
}

